 button{
   display: flex;
   flex-shrink: 0;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   text-align: center;
   justify-self: center;
   position: relative;
   /* The width is being set as props and height*/
   min-width: max-content; 
   padding:0 5px;
   line-height: normal;
   border: 1px solid;
   font-family: var(--poppins);
   font-size: 11px;
   font-weight: 200;
   overflow: hidden;
   max-width: 100%;
}

.content{
  width: max-content;
  white-space: nowrap;
  transition: .2s;
}

.primary{
   background-color: var(--primary-clr);
   color: white;
   border-color: white;

}
 .light{
   background-color: white;
   color: var(--primary-clr);
   border-color: var(--primary-clr);
 }

 .light:hover{
   background-color: var(--primary-clr);
   color: white;
   border-color: white;
 }

 .primary:hover{
   background-color: white;
   border-color: var(--primary-clr);
   color: var(--primary-clr);

 }

 .btn-div{
   display: flex;
   justify-content: center;
   align-items: center;
 }

.icon{
    margin-left: 3px;
    transition: .7s;
    margin-bottom: -2.5px;
    /*width and heigh should be adjusted in the .icon svg code */
 }

button:hover  .icon{
    transition: 1s;
    margin-right: -200px; 
 }