@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Afacad:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root{
    --header-bg: #E9F1FF;
    --body-bg: #F0F5FF;
    --poppins: "Poppins";
    --primary-clr: #063465;
    --afacad: "Afacad";
    --advent-pro: "Advent Pro", sans-serif;
    --light-bg-cyan:#DEEEFF;
    --primary-clr-l1: #0A57A8;
}   

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    transition: .5s;
    outline: none;
    
}

*::-webkit-scrollbar{
    display: none;
}

button{
    cursor: pointer;
}

span, a, small, i, b, strong{
    transition: .1s;
}







